In [1]:
import sys
# 將你的專案根目錄加入搜尋清單
sys.path.append(r'c:\Users\student\tutorials\Taiwan_Job_Market_Analysis\services\crawler')

In [3]:
import json

with open("test.json", encoding="utf-8") as f:
    result = json.load(f)

In [4]:
import pandas as pd
test = result[0:2]
test = pd.DataFrame(test)

In [5]:
test

,_id,condition,contact,custNo,employees,header,industry,jobDetail,job_id,welfare
0,8uzq4,"{'acceptRole': {'disRole': {'disability': [], ...","{'email': '', 'hrName': '蔡小姐', 'other': '', 'p...",80682392000,10人,"{'analysisType': 4, 'analysisUrl': '//www.104....",其它軟體及網路相關業,"{'addressArea': '台北市', 'addressDetail': '建國北路一...",8uzq4,"{'legalTag': ['勞保', '健保', '陪產假', '產假', '特別休假',..."
1,8nwo9,"{'acceptRole': {'disRole': {'disability': [], ...","{'email': '', 'hrName': 'HR', 'other': '', 'ph...",130000000171407,200人,"{'analysisType': 1, 'analysisUrl': '//www.104....",電腦軟體服務業,"{'addressArea': '台北市', 'addressDetail': '瑞湖街88...",8nwo9,"{'legalTag': ['哺乳室', '週休二日', '陪產假', '產假', '特別休..."

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        2 non-null      object
 1   condition  2 non-null      object
 2   contact    2 non-null      object
 3   custNo     2 non-null      object
 4   employees  2 non-null      object
 5   header     2 non-null      object
 6   industry   2 non-null      object
 7   jobDetail  2 non-null      object
 8   job_id     2 non-null      object
 9   welfare    2 non-null      object
dtypes: object(10)
memory usage: 292.0+ bytes

In [10]:
r = pd.DataFrame(result)
a = pd.json_normalize(r["jobDetail"].to_list())["salaryType"]
print(type(a))
a.drop_duplicates()

<class 'pandas.core.series.Series'>

0      50
1      10
13     30
29     60
48     20
193    40
917    70
Name: salaryType, dtype: int64

In [ ]:
10: 面議
20: 時薪
30: 論件計酬
40: 日薪
50: 月薪
60: 年薪
70: 部分工時(月薪)
建一個 table 存這個, 主表存 int

SyntaxError: illegal target for annotation (1929942186.py, line 1)